body {
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1 {
    background-color: lightcyan;

}

h2 {
    background-color: palegoldenrod

}

h3 {
    background-color: rgb(203, 203, 203);

}

p {
    background-color: rgb(246, 214, 218);

}

.second {
    background-color: hsl(120, 61%, 90%);
    
}

#all {
    font-weight: bold;
    font-family: fantasy;
    color: red;

}
a:link {
  color: green;
}

a:visited {
  color: grey
}

a:hover {
  color: red;
}

